.App {
  text-align: center;
}

form{
  display: grid;
  grid-template-columns: repeat(1fr,1);
 
  
}
form div{
  margin: 1%;
}
input{
  padding: 10px; 
  border-radius: 5px; 
  font-size: 16px; 
  width: 300px; 
  border: none;
  border-bottom: 2px solid  #7bb5f4;
}
#textarea{
  width: 30%;
  height: 100px;
  padding: 2px 10px;
  box-sizing: border-box;
}
button{
  padding: 10px 20px; 
  background-color: #007bff;
  color: #fff; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  font-size: 18px;
  max-width: 350px;
  margin: auto;
}
button:hover{
  background-color: #0056b3; 
}